/*Seletor class*/

.container{
    margin: 20px;
}

.cabecalho{
    background-color: rgb(62, 138, 231);
}

/*seletor tag*/
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif; 
}

nav{
    font-weight: bold;
}

form{
    padding: 10px;
}

/*seletor id*/
#conteudo{
    line-height: 1.5;
}